.site-loader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 999
	display: flex
	justify-content: center
	align-items: center
	.loader-line
		position: absolute
		height: 2px
		width: 100%
		.line
			width: 100%
			background-color: #fff
			height: 2px
			transform: scaleX(0)
			transform-origin: 50%
	.loader-logo
		position: absolute
		visibility: hidden
		opacity: 0