{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 5 versions","safari >= 9","ie>=11"]
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
