---
title: 404
---

extends layouts/_layout
block content
	- var currPage = '404'
	.root-wrapper
		.overlay
		.root-frame
			include partials/_burger
			#barba-wrapper
				//.notfound
				.barba-container.portfolio_project.notfound.link-color(data-namespace="services" data-bgcolor="#fc342a" data-textcolor="#fc342a" data-titlecolor="#a70800" data-loader="#fc342a")
					header.header.header-inner
						include partials/_header
					.wrapper-frame
						.portfolio__overlay.overlay__color
						.frame__container
							.frame__side.layout_fixed
								.notfound-container.white
									h1.notfound-title 404
									p.primary Такой страницы не существует
									p Не знаем как вы сюда попали, выбирайтесь поскорее
									a(href="page.html").custom__btn.white
										span  Открыть
					include partials/_menu
					