---
title: 404
---

extends layouts/_layout
block content
	- var currPage = '404'
	.root-wrapper
		.overlay
		.root-frame
			include partials/_burger
			#barba-wrapper
				.barba-container.portfolio_project(data-namespace="services" data-bgcolor="#fc342a" data-textcolor="#fc342a" data-titlecolor="#a70800" data-loader="#fc342a")
					header.header.header-inner
						include partials/_header
					.wrapper-frame
						.portfolio__overlay.overlay__color
						.frame__names
							.frame___names-list#project__names
						.frame__container#scroll-container
							.frame__side.layout_fixed
								.page-title
									.breadcrumbs
										ul
											- var crumbs = ["Home"]
											each crumbsItem in crumbs
												li.breadcumbs__item
													a(href="home.html")
														i.back-icon
															<svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16"><path fill="currentcolor" fill-rule="evenodd" d="M.34271018 7.2426098a1.05032758 1.05032758 0 0 0-.00130226.0011405C-.074137 7.607537-.1162267 8.2393014.24747366 8.654922c.02989433.034162.06159971.0658003.09484724.0948971l6.99458721 7.0030276c.41543268.363915 1.04721881.3221517 1.41113382-.093281.36391501-.4154327.32215169-1.0472188-.09328099-1.4111338L2.41061142 7.9967476l6.24308946-6.2441862c.41562062-.3637004.45771031-.9954648.09400996-1.4110855-.36370035-.4156206-.99546483-.4577103-1.41108545-.0940099L.34271018 7.2426098z" opacity=".8"/></svg>
														span #{crumbsItem}
									.page__name
										span#name-project #{currPage}
								
							.frame__side
								.notfound-wrap
									.notfound-wrap-inner

										.notfound-text
											.notfound-text-content.js-mousemove
												| 404
											.notfound-square.link-color.js-mousemove
											.notfound-square.link-color.square2.js-mousemove
										.notfound-descr 
											p Сорьки, братан, но ты свернул не туда. Вернись 
												a(href="#").link-color назад 
												| и выбери правильный путь.
					include partials/_menu
					