---
title: Portfolio_Page
---

extends layouts/_layout
block content
	- var currPage = 'Portfolio'
	- var external = '<svg width="23.5" height="23.5" viewBox="0 0 23.5 23.5" xmlns="http://www.w3.org/2000/svg"><g><path d="m21.78148,11.36297l0,8.3c0,1.5 -1.2,2.8 -2.8,2.8l-15.2,0c-1.5,0 -2.8,-1.2 -2.8,-2.8l0,-15.3c0,-1.5 1.2,-2.8 2.8,-2.8l8.3,0" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/><polyline points="16.481476068496704,0.9629654884338379 22.481476068496704,0.9629654884338379 22.481476068496704,6.962967872619629 " stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/><line y2="0.96297" x2="22.48148" y1="12.76297" x1="10.68148" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"/></g></svg>'
	.root-wrapper
		.overlay
		.root-frame
			include partials/_burger
			#barba-wrapper
				.barba-container(data-namespace="portfolio" data-bgcolor="#cdfc91" data-textcolor="#c1ed89" data-titlecolor="#c1ed89" data-loader="#cdfc91")
					header.header.header-inner
						include partials/_header
					.wrapper-frame
						.portfolio__overlay.overlay__color
						.frame__names
							.frame___names-list#project__names
						.frame__container#scroll-container
							.frame__side.layout_fixed
								.filter-container
									- var filters = [["All","all"], ["Website",'website'], ["E-commerce",'ecommerce'], ["Graphic design",'graphicdesign'], ["Branding",'branding'], ["Print",'print'], ["Mobile",'mobile']]
									- var activeClass = 1
										each filterItem, index in filters
											- var indexIncr = index + 1
											.filter-item(class={"is-active": indexIncr === activeClass})
												a.no-barba(href="#",data-filter=filterItem[1])
													span #{filterItem[0]}
								.page-title
									.breadcrumbs
										ul
											- var crumbs = ["Home"]
											each crumbsItem in crumbs
												li.breadcumbs__item
													a(href="home.html")
														i.back-icon
															<svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16"><path fill="currentcolor" fill-rule="evenodd" d="M.34271018 7.2426098a1.05032758 1.05032758 0 0 0-.00130226.0011405C-.074137 7.607537-.1162267 8.2393014.24747366 8.654922c.02989433.034162.06159971.0658003.09484724.0948971l6.99458721 7.0030276c.41543268.363915 1.04721881.3221517 1.41113382-.093281.36391501-.4154327.32215169-1.0472188-.09328099-1.4111338L2.41061142 7.9967476l6.24308946-6.2441862c.41562062-.3637004.45771031-.9954648.09400996-1.4110855-.36370035-.4156206-.99546483-.4577103-1.41108545-.0940099L.34271018 7.2426098z" opacity=".8"/></svg>
														span #{crumbsItem}
									.page__name
										span#name-project #{currPage}
							.frame__side
								.portfolio__projects
									.projects-head
										.head__title
											.title-small
												span Favourite projects
											.title
												h1 Our results
										.head__descr
											.info__container 
												.info__description
													p Liesegang & Partner is an IP and commercial-law boutique law firm mainly focussing on the various aspects of national and international trademark law, design law and company law. 
											a(href="#" class="custom__btn")
												span Make an order
									.portfolio__body
										.grid__container#grid__container

											
					include partials/_menu
					include partials/_cross
					