.cap.notfound.link-color
	.frame__container
		.frame__side.layout_fixed
			.notfound-container.white
				h1.notfound-title Упс...
				p.primary Похоже, вам стоит перейти на мобильную версию сайта
				a(href="page.html").custom__btn.white
					span  Открыть